<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <style>
        body{
        background-image: url("assets/img/hero-bg-abstract.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        }
    </style>
    <title>My English Words App</title>
</head>

<body>
    <div class="container">
        <h1>My English Words App</h1>
    </div>

    <div class="container">
        <h1>SECOND CONTAINER</h1>

        <div class="row">
            <div class="col-1">
                <h5>FIRST COLUMN</h5>
            </div>

            <div class="col-11">
                <h5>SECOND COLUMN</h5>
            </div>
        </div>
    </div>

</body>
</html>